<!DOCTYPE html>
<html>
    <head>
        <title>MusiMap Artist</title>
        <meta name="viewport" content="width=device-width", initial-scale="1">
        <link href="../css/bootstrap.css" rel="stylesheet">
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/bootstrap-theme.css" rel="stylesheet">
        <link href="../css/homeScreen.css" rel="stylesheet">

        <!-- Icon Library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div>
            <!-- Navbar -->
            <nav class="navbar">
                <div class="container">
                    <div><h2>MusiMap Artist Page</h2></div>
                    <div class="navmenu">

                        <div class="searchbar" >
                            <div class="dropdown">
                                <button onclick="myFunction()" class="dropbtn" ><i class="fa fa-bars dropbtn"></i></button>
                                <div id="myDropdown" class="dropdown-content">
                                    <a href="../index">Home</a>
                                    <a href="../add">My Library</a>
                                    <a href="../help">Help</a>
                                </div>
                                <form action="../results" class="pull-right flex-outer" >
                                    <input size="32" type="text" name="searchName" placeholder="Search Here... " required>
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <div>
                                <div>
                                    <div>
                                        <div>
                                            <h2>{{name}}</h2>
                                        </div>
                                        <img src="{{imageURL}}" width="350px" height="350px" alt="Artist Image" class="img-responsive">
                                    </div>
                                    <div>
                                        <div class="bio">
                                            <h4>Genre:</h4><p>{{genre}}</p>
                                            <h4>Description:</h4><p>{{description}}</p>
                                        </div>
                                    </div>
                                    <div>
                                        {{#if inLibrary}}
                                        <div><a href="../add/{{name}}"><h3>Remove From Library</h3></a></div>
                                        {{else}}
                                        <div><a href="../add/{{name}}"><h3>Add to Library</h3></a></div>
                                        {{/if}}
                                        <div><a href="../likeThis/{{name}}"><h3>More Like This</h3></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <script src="../js/jquery-1.11.0.js"></script>
            <script src="../js/bootstrap.js"></script>
            <script src="../js/bootstrap.min.js"></script>
            <script>
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {

        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
            }
        }
    }
}
            </script>
    </body>
</html>

